<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>[% appconfig.title %] - [% appconfig.company %]</title>
	<link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="components/alertify-js/build/css/alertify.min.css">
	<link rel="stylesheet" href="static/logbook.css">
</head>
<body>
	<main>
		<div class="container-fluid">
			<div id="v-app">
				<div class="row">
					<span class="col-sm-6">
						<h4>[% appconfig.title %] - [% appconfig.company %]</h4>
					</span>
					<span class="col-sm-6 text-right">
						[% IF user %]<h5>Nutzer [% user %] <input type="hidden" id="rusername" value="[% user %]" /></h5>[% END %]
					</span>
				</div>

				<div class="row lead">
					<span class="col-sm-9">
					[% FOREACH button IN appconfig.buttons %]
						<button
							@click="createlogentry([% button.arguments %])"
							class="btn [% button.css_bs_btn %]"
						>
							<span class="glyphicon glyphicon-plus"></span> [% button.title %]
						</button>
					[% END %]
					</span>
					<span class="col-sm-3">
						<span class="input-group">
							<input
									class="form-control"
									type="text"
									placeholder="Suchbegriff(e)..."
									@keyup.enter="fetchlogentries()"
									v-model.trim="searchValue"
								/>
							<span v-if="searchValue.length" class="input-group-addon" title="Filter entfernen"><span class="glyphicon glyphicon-remove" @click="clearSearchinput()"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-search" @click="fetchlogentries()"></span></span>
						</span>
					</span>
				</div>

				<div class="row lead">
					<span class="col-sm-12 text-center">
						<button class="btn btn-warning btn-xs btnpaging" @click="fetchlogentries(pagination.prev_month)">
							&#8678; {{pagination.prev_month | formatMonthPage }}
						</button>
						<button class="btn btn-default btn-sm btnpaging fontsize80perc" @click="fetchlogentries(pagination.cur_month)" title="Monat neuladen">
							{{pagination.cur_month | formatMonthPage}} &#10226;
						</button>
						<button class="btn btn-warning btn-xs btnpaging" @click="fetchlogentries(pagination.next_month)">
							{{pagination.next_month | formatMonthPage }} &#8680;
						</button>
					</span>
				</div>
				<div class="row">
					<table class="table table-bordered table-condensed table-hover table-striped">
						<tr>
							<th>Datum</th>
							<th>Eintrag</th>
							<th>Autor</th>
							<th>Kategorien</th>
							<th></th>
						</tr>
						<tr v-for="logentry in logentries" is="logentry"
								:logentry="logentry"
								:categories="categories"
								:categorygroups="categorygroups"
							></tr>
					</table>
					[% IF appconfig.devel %]<pre>{{ $data }}</pre> [% END %]
				</div>
			</div>
		</div>
	</main>

	<template id="template-datetime-input">
		<span>
			<div class="input-group">
				<span class="input-group-addon inputgroupMW">Datum</span>
				<input
						class="form-control"
						type="date"
						:value="cdate"
						@input="updateValue('date', $event.target.value)"
					/>
			</div>
			<br />
			<div class="input-group">
				<span class="input-group-addon inputgroupMW">Zeit</span>
				<input
						class="form-control"
						type="time"
						:value="ctime"
						@input="updateValue('time', $event.target.value)"
					/>
			</span>
		</div>
	</template>

	<template id="template-logentry-raw">
		<tr>
			<td class="col-md-2">
				<span v-if="logentry.editing">
					<datetime-input v-model="logentry.edate"></datetime-input>
				</span>
				<span v-else :title="logentry.edate | formatDatetimeFull">
					{{logentry.edate | formatDateShort }}<br />
					{{logentry.edate | formatTimeShort }} Uhr
				</span>
			</td>
			<td class="col-md-4">
				<div v-if="logentry.editing" class="form-group">
					<input v-model="logentry.title" class="form-control" id="inputTitle"></input>
					<div class="inputDescDiv">
						<label for="inputTextareaDesc">Beschreibung (optional)</label>
						<textarea v-if="logentry.editing" v-model="logentry.description" id="inputTextareaDesc" class="form-control" rows="10"></textarea>
					</div>
				</div>
				<span v-else>
					<div>{{logentry.title}}</div>
					<div class="description" v-if="logentry.description">
						{{logentry.description}}
					</div>
				</span>
			</td>
			<td class="col-md-1">
				<input v-if="logentry.editing" v-model="logentry.author" class="form-control">
					</input>
				<span v-else>
					{{logentry.author}}
				</span>
			</td>
			<td class="col-md-4">
				<table v-if="logentry.editing" class="table table-condensed">
					<tr v-for="(groupcategories, cgroup) in categorygroups">
						<td>{{ cgroup }}</td>
						<td>
							<label v-for="category in groupcategories" class="btn btn-default btn-xs" :title="category.description">
								<input type="checkbox" v-model="logentry.categories" :value="category.category_id"> {{category.title}}</input>
							</label>
						</td>
					</tr>
				</table>
				<span v-else>
					<button
							v-for="category_id in logentry.categories"
							class="btn btn-default btn-xs"
							@click="addToFilter(category_id)"
						>
						{{ getCategory(category_id).title }}
					</button>
				</span>
			</td>
			<td class="col-md-1 text-center">
				<div v-if="logentry.editing">
					<span v-if="logentry.entry_id" class="btn-group-vertical">
						<button @click="updatelogentry(logentry)" class="btn btn-success btn-sm">
							<span class="glyphicon glyphicon-floppy-disk pull-left"></span> Speichern
						</button>
						<button @click="deletelogentry(logentry)" class="btn btn-danger btn-sm">
							<span class="glyphicon glyphicon-trash pull-left"></span> Löschen
						</button>
						<button @click="cancelEditNewlogentry(logentry)" class="btn btn-default btn-sm">
							<span class="glyphicon glyphicon-minus pull-left"></span> Abbrechen
						</button>
					</span>
					<span v-else class="btn-group-vertical">
						<button @click="createlogentry(logentry)" class="btn btn-success btn-sm">
							<span class="glyphicon glyphicon-floppy-disk pull-left"></span> Speichern
						</button>
						<button @click="cancelEditNewlogentry(logentry)" class="btn btn-default btn-sm">
							<span class="glyphicon glyphicon-minus pull-left"></span> Abbrechen
						</button>
					</span>
				</div>
				<div class="btn-group" v-else>
					<button @click="editlogentry(logentry)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span></button>
				</div>
			</td>
		</tr>
	</template>

	<script src="components/vue/dist/vue.js"></script>
	<script src="components/vue-resource/dist/vue-resource.js"></script>
	<script src="components/moment/min/moment-with-locales.min.js"></script>
	<script src="components/underscore/underscore-min.js"></script>
	<script src="components/alertify-js/build/alertify.min.js"></script>
	<script src='static/app.js' type="text/javascript"></script>
</body>
</html>
