.description {
	margin-top: 1em;
	padding: 5px;

	font-style: italic;
	font-size: 75%;

	border: 1px solid #ddd;
	border-radius: 6px;

	white-space: pre-wrap;
}

.inputDescDiv {
	padding-top: 1em;
}

.inputgroupMW {
	min-width: 5em;
}

.btnpaging {
	width: 140px;
}

.fontsize80perc {
	font-size: 80%;
}
